$bg-color: #eee;
$header-bg-color: rgb(239, 14, 61);
$font-color: #333;
$success-color: rgb(184, 250, 184);
$warn-color: rgb(248, 182, 182);

@mixin label($bg-color) {
  background: $bg-color;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
