@import './base';

.scores {
  align-self: center;
  width: 58vw;
  display: flex;
  justify-content: space-around;
  gap: 1rem;

  .current-score {
    @include label($warn-color);
  }

  .best-score {
    @include label($success-color);
  }
}
